<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Người Dùng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular.min.js"></script>

    <style>
        .user-card {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
            border-radius: 8px;
        }

        .user-card:hover {
            transform: scale(1.05);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
        }

        .saved-info {
            font-weight: bold;
            margin-top: 10px;
            color: green;
        }

        .image {
            min-height: 300px;
        }

        .is-invalid {
            border-color: red;
        }

        .invalid-feedback {
            color: red;
            font-size: 0.875em;
        }
    </style>
</head>

<body>
    <div class="mt-5">
        <h2 class="text-center mb-4">Quản Lý Người Dùng</h2>
        <form id="userForm">
            <!-- Thông tin người dùng -->
            <div class="row">
                <div class="col-xl-4 col-xm-12 mb-3">
                    <div class="card user-card">
                        <div class="card-body text-center image">
                            <img id="profileImage" src="" alt="User Image" class="img-fluid"
                                style="max-height: auto; display: none;">
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <input type="file" class="form-control" id="image" accept="image/*"
                                    onchange="toggleImageInput()"> <input class="form-control" id="imageUrl" type="text"
                                    th:value="${account == null ? '' : account.image}"
                                    placeholder="https://example.com/image.jpg" oninput="toggleImageInput()">
                            </div>
                            <small id="fileName" class="form-text text-muted"></small> <img id="imagePreview"
                                style="display: none; margin-top: 10px;" alt="Hình ảnh xem trước" height="100" />
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-xm-12">
                    <div class="form-group">
                        <label for="userCode">Mã Người Dùng</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="userCode"
                                th:value="${account == null ? '' : account.userCode}" placeholder="Nhập mã người dùng">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="toggleUserCode()">Tạo
                                    Mã</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fullName">Tên Đầy Đủ</label> <input type="text"
                            th:value="${account == null ? '' : account.fullName}" class="form-control" id="fullName"
                            placeholder="Nhập tên đầy đủ">
                    </div>
                    <div class="form-group">
                        <label for="phone">Số Điện Thoại</label> <input type="text"
                            th:value="${account == null ? '' : account.phone}" class="form-control" id="phone"
                            placeholder="Nhập số điện thoại">
                    </div>

                    <div class="form-group">
                        <label for="gender">Giới Tính</label> <select class="form-control" id="gender" name="gender">
                            <option value="MALE" th:selected="${account != null && account.gender == 'MALE'}">Nam
                            </option>
                            <option value="FEMALE" th:selected="${account != null && account.gender == 'FEMALE'}">Nữ
                            </option>
                        </select>


                    </div>
                    <div class="form-group">
                        <label for="birthday">Ngày Sinh</label> <input type="date" class="form-control" id="birthday"
                            name="birthday" th:value="${account != null ? account.birthday : 'Không có dữ liệu'}">

                    </div>
                    <div class="form-group">
                        <label for="email">Email</label> <input type="email"
                            th:value="${account == null ? '' : account.email}" class="form-control" id="email"
                            placeholder="Nhập email">
                    </div>
                    <div class="form-group">
                        <label for="role">Vai Trò</label> <select class="form-control" id="role" name="role">
                            <option value="USER" th:selected="${account != null && account.role == 'USER'}">Người
                                Dùng</option>
                            <option value="STAFF" th:selected="${account != null && account.role == 'STAFF'}">Nhân
                                Viên</option>
                            <option value="ADMIN" th:selected="${account != null && account.role == 'ADMIN'}">Quản
                                Trị Viên</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật Khẩu</label>
                        <div class="input-group">
                            <input type="password" th:value="${account == null ? '' : account.password}"
                                class="form-control" id="password" placeholder="Nhập mật khẩu">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" id="generatePasswordButton"
                                    onclick="generatePassword()">Tạo Mật Khẩu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3" id="submitAdd">Thêm
                Người Dùng</button>
            <button type="submit" class="btn btn-primary mt-3" id="submitUpdate">Cập nhật Người Dùng</button>
            <button type="button" class="btn btn-secondary mt-3" id="refreshButton">Làm Mới</button>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        document.getElementById('refreshButton').addEventListener('click', function () {
            document.getElementById('userForm').reset();

            const profileImage = document.getElementById('profileImage');
            profileImage.style.display = 'none';
            document.getElementById('imagePreview').style.display = 'none';
            document.getElementById('image').value = '';
            document.getElementById('imageUrl').value = '';

            document.getElementById('imagePreview').style.display = 'none';

            const submitAddButton = document.getElementById('submitAdd');
            const submitUpdateButton = document.getElementById('submitUpdate');

            if (window.location.pathname.includes('/Admin/accounts/edit/')) {
                submitAddButton.style.display = 'none';
                submitUpdateButton.style.display = 'inline-block';
            } else {
                submitAddButton.style.display = 'inline-block';
                submitUpdateButton.style.display = 'none';
            }
        });
        document.addEventListener("DOMContentLoaded", function () {
            const currentPath = window.location.pathname;
            const isEditPage = currentPath.includes('/Admin/accounts/edit/');

            const addButton = document.getElementById('submitAdd');
            const updateButton = document.getElementById('submitUpdate');

            if (isEditPage) {
                if (addButton) {
                    addButton.style.display = 'none';
                }
                if (updateButton) {
                    updateButton.style.display = 'inline-block';
                }
            } else {
                if (updateButton) {
                    updateButton.style.display = 'none';
                }
                if (addButton) {
                    addButton.style.display = 'inline-block';
                }
            }
        });

        const profileImage = document.getElementById('profileImage');
        const imageInput = document.getElementById('image');
        const imageUrlInput = document.getElementById('imageUrl');

        function toggleImageInput() {
            const isImageInputEmpty = imageInput.value === "";
            const isImageUrlEmpty = imageUrlInput.value === "";

            if (!isImageInputEmpty) {
                profileImage.src = URL.createObjectURL(imageInput.files[0]);
                profileImage.style.display = "block";
                imageUrlInput.value = ''; // Xóa giá trị ô URL
                imageUrlInput.style.display = "none"; // Ẩn ô URL
            } else if (!isImageUrlEmpty) {
                const imageUrl = imageUrlInput.value.trim();
                if (imageUrl.startsWith("http")) {
                    profileImage.src = imageUrl;
                    profileImage.style.display = "block";
                } else {
                    profileImage.style.display = "none"; // Ẩn hình ảnh nếu URL không hợp lệ
                }
                imageInput.value = ''; // Xóa giá trị ô tệp
                imageInput.style.display = "none"; // Ẩn ô tệp
            } else {
                profileImage.style.display = "none"; // Ẩn hình ảnh
                imageInput.style.display = ""; // Hiển thị lại ô tệp
                imageUrlInput.style.display = ""; // Hiển thị lại ô URL
            }

        }

        function displayError(inputElement, errorMessage) {
            inputElement.classList.add('is-invalid');

            const errorElement = document.createElement('div');
            errorElement.classList.add('invalid-feedback');
            errorElement.textContent = errorMessage;

            inputElement.parentElement.appendChild(errorElement);
        }

        function removeError(inputElement) {
            inputElement.classList.remove('is-invalid');

            const errorElement = inputElement.parentElement.querySelector('.invalid-feedback');
            if (errorElement) {
                errorElement.remove();
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('userForm').addEventListener('submit', function (event) {
                event.preventDefault();

                const submitBtn = document.getElementById('submitAdd'); // Nút submit
                submitBtn.innerHTML =
                    'Đang thêm tài khoản... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

                const userCode = document.getElementById('userCode').value;
                const fullName = document.getElementById('fullName').value;
                const phone = document.getElementById('phone').value;
                const gender = document.getElementById('gender').value;
                const birthday = document.getElementById('birthday').value;
                const email = document.getElementById('email').value;
                const role = document.getElementById('role').value;
                const password = document.getElementById('password').value;
                const imageInput = document.getElementById('image');
                const imageUrlInput = document.getElementById('imageUrl');

                const formData = new FormData();
                formData.append("userCode", userCode);
                formData.append("fullName", fullName);
                formData.append("phone", phone);
                formData.append("gender", gender);
                formData.append("birthday", birthday);
                formData.append("email", email);
                formData.append("role", role);
                formData.append("password", password);

                if (imageInput && imageInput.files.length > 0) {
                    formData.append("image", imageInput.files[0]);
                }

                if (imageUrlInput && imageUrlInput.value) {
                    formData.append("imageUrl", imageUrlInput.value);
                }

                fetch('/Admin/accounts/add', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        const savedUserInfo = document.getElementById('savedUserInfo');
                        if (savedUserInfo) {
                            savedUserInfo.style.display = 'inline'; // Show saved message
                            savedUserInfo.innerText = "Tài khoản đã được thêm thành công!";
                            setTimeout(() => {
                                savedUserInfo.style.display = 'none'; // Hide after 3 seconds
                            }, 3000);
                        }
                        submitBtn.classList.add('btn-success');
                        submitBtn.innerHTML = 'Thêm tài khoản thành công <i class="fas fa-check-circle"></i>';
                        submitBtn.classList.remove('btn-primary');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        removeError(document.getElementById('email'));
                        removeError(document.getElementById('phone'));
                        removeError(document.getElementById('fullName'));
                        removeError(document.getElementById('userCode'));

                        if (error.message.includes('email')) {
                            displayError(document.getElementById('email'), 'Email không hợp lệ hoặc đã tồn tại trong hệ thống.');
                        }
                        if (error.message.includes('userCode')) {
                            displayError(document.getElementById('userCode'), 'Tên đăng nhập không hợp lệ.');
                        }

                        if (error.message.includes('phone')) {
                            displayError(document.getElementById('phone'), 'Số điện thoại không hợp lệ hoặc đã tồn tại.');
                        }

                        if (error.message.includes('fullName')) {
                            displayError(document.getElementById('fullName'), 'Họ tên không hợp lệ hoặc đã tồn tại.');
                        }
                        if (error.message.includes('createAccount')) {
                            displayError(document.getElementById('birthday'), 'Vui lòng chọn ngày sinh');
                        }
                        submitBtn.innerHTML = 'Thêm tài khoản thất bại <i class="fas fa-times-circle"></i>';
                        submitBtn.classList.add('btn-danger');
                        submitBtn.classList.remove('btn-primary');


                    })
                    .finally(() => {
                        setTimeout(() => {
                            submitBtn.disabled = false;
                        }, 2000); // Tắt trạng thái loading sau 2 giây
                    });
            });

            document.getElementById('submitUpdate').addEventListener('click', function (e) {
                e.preventDefault();

                const submitBtn = document.getElementById('submitUpdate'); // Nút submit
                submitBtn.innerHTML = 'Đang sửa tài khoản... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

                const path = window.location.pathname;
                const segments = path.split('/');
                const accountId = segments[segments.length - 1];

                const updatedAccount = new FormData(); // Sử dụng FormData

                // Thêm các trường dữ liệu vào FormData
                updatedAccount.append('fullName', document.getElementById('fullName').value);
                updatedAccount.append('email', document.getElementById('email').value);
                updatedAccount.append('phone', document.getElementById('phone').value);
                updatedAccount.append('gender', document.getElementById('gender').value);
                updatedAccount.append('birthday', document.getElementById('birthday').value);
                updatedAccount.append('role', document.getElementById('role').value);
                updatedAccount.append('userCode', document.getElementById('userCode').value);
                updatedAccount.append('password', document.getElementById('password').value);

                // Thêm ảnh vào đối tượng FormData nếu có
                if (imageInput.files[0]) {
                    updatedAccount.append('image', imageInput.files[0]);
                }

                // Thêm imageUrl nếu có
                if (imageUrlInput.value) {
                    updatedAccount.append('imageUrl', imageUrlInput.value);
                }

                fetch(`/Admin/accounts/edit/${accountId}`, {
                    method: 'PUT',
                    body: updatedAccount,
                })
                    .then(response => response.json())
                    .then(data => {
                        submitBtn.innerHTML = 'Cập nhật tài khoản thành công <i class="fas fa-check-circle"></i>';
                        submitBtn.classList.add('btn-success');
                        submitBtn.classList.remove('btn-primary');
                    })
                    .catch(error => {
                        console.error('Error updating user:', error);
                        removeError(document.getElementById('email'));
                        removeError(document.getElementById('phone'));
                        removeError(document.getElementById('fullName'));
                        removeError(document.getElementById('userCode'));

                        if (error.message.includes('email')) {
                            displayError(document.getElementById('email'), 'Email không hợp lệ hoặc đã tồn tại trong hệ thống.');
                        }
                        if (error.message.includes('userCode')) {
                            displayError(document.getElementById('userCode'), 'Tên đăng nhập không hợp lệ.');
                        }

                        if (error.message.includes('phone')) {
                            displayError(document.getElementById('phone'), 'Số điện thoại không hợp lệ hoặc đã tồn tại.');
                        }

                        if (error.message.includes('fullName')) {
                            displayError(document.getElementById('fullName'), 'Họ tên không hợp lệ hoặc đã tồn tại.');
                        }
                        if (error.message.includes('createAccount')) {
                            displayError(document.getElementById('birthday'), 'Vui lòng chọn ngày sinh');
                        }
                        submitBtn.innerHTML = 'Cập nhật tài khoản thất bại <i class="fas fa-times-circle"></i>';
                        submitBtn.classList.add('btn-danger');
                        submitBtn.classList.remove('btn-primary');
                    })
                    .finally(() => {
                        setTimeout(() => {
                            submitBtn.disabled = false;
                        }, 2000); // Tắt trạng thái loading sau 2 giây
                    });
            });

        });

        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id'); // Lấy ID từ query string

            if (id) {
                fetch(`/accounts/edit/${id}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('fullName').value = data.fullName || '';
                        document.getElementById('email').value = data.email || '';
                        document.getElementById('phone').value = data.phone || '';
                        document.getElementById('gender').value = data.gender || 'MALE';
                        document.getElementById('birthday').value = data.birthday || '';
                        document.getElementById('role').value = data.role || 'USER';
                        document.getElementById('userCode').value = data.userCode || '';
                        document.getElementById('password').value = data.password || '';
                        document.getElementById('imageUrl').value = data.image || '';

                        if (data.image) {
                            const profileImage = document.getElementById('profileImage');
                            profileImage.src = data.image;
                            profileImage.style.display = 'block';
                        }
                    })
                    .catch(error => console.error('Error fetching user:', error));
            }
        });

        function removeAccents(str) {
            const accents = 'áàảãạăắằẳẵặâấầẩẫậéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựýỳỷỹỵđ';
            const withoutAccents = 'aaaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooooouuuuuuuuuuyyyyđ';
            return str.split('').map((char, i) => {
                const idx = accents.indexOf(char);
                return idx !== -1 ? withoutAccents[idx] : char;
            }).join('');
        }

        function toggleUserCode() {
            const userCodeInput = document.getElementById('userCode');
            const userName = document.getElementById('fullName').value.replace(/\s+/g, '').toLowerCase();
            const birthYear = new Date(document.getElementById('birthday').value).getFullYear();
            const role = document.getElementById('role').value.toLowerCase();
            const userCode = `${userName}${birthYear}${role}`;

            // Cập nhật mã người dùng và vô hiệu hóa nút "Tạo Mã"
            userCodeInput.value = userCode;
            userCodeInput.disabled = true; // Vô hiệu hóa input mã người dùng

            // Cập nhật trạng thái nút "Tạo Mã"
            const createCodeButton = document.querySelector('button[onclick="toggleUserCode()"]');

            // Hiển thị thông báo "Mã đã được tạo"
            const generatedCodeMessage = document.getElementById('generatedCodeMessage');
            if (!generatedCodeMessage) {
                const message = document.createElement('small');
                message.id = 'generatedCodeMessage';
                message.classList.add('form-text', 'text-muted');
                createCodeButton.innerText = 'Mã người dùng đã được tạo tự động!';
                userCodeInput.parentNode.appendChild(message);
            }
            createCodeButton.addEventListener('click', function () {
                // Nếu ô mã người dùng đang bị vô hiệu hóa, bật lại nó
                if (userCodeInput.disabled) {
                    userCodeInput.disabled = false;
                    createCodeButton.innerText = 'Tạo mã'
                } else {
                    userCodeInput.disabled = true;
                    createCodeButton.innerText = 'Mã người dùng đã được tạo tự động!'
                }
            });
        }

        function generateUserCode() {
            const fullName = document.getElementById('fullName').value;
            const phone = document.getElementById('phone').value;
            const role = document.getElementById('role').value;

            if (fullName && phone && role) {
                const userCode = `${fullName.replace(/\s+/g, '').toLowerCase()}${phone.slice(-4)}${role.toLowerCase()}`;
                document.getElementById('userCode').value = userCode;
                document.getElementById('userCode').disabled = true;  // Disable input after generation
            } else {
                alert("Vui lòng điền đầy đủ tên, số điện thoại và vai trò.");
            }
        }

        // Enable user code generation when name, phone, or role is provided
        function enableGenerateCode() {
            const fullName = document.getElementById('fullName').value;
            const phone = document.getElementById('phone').value;
            const role = document.getElementById('role').value;
            const generateButton = document.querySelector("button[type='button']");

            if (fullName && phone && role) {
                generateButton.disabled = false;
            } else {
                generateButton.disabled = true;
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            const userCodeInput = document.getElementById('userCode');
            const fullNameInput = document.getElementById('fullName');
            const phoneInput = document.getElementById('phone');
            const roleSelect = document.getElementById('role');
            const generateCodeButton = document.querySelector('button[onclick="toggleUserCode()"]');

            generateCodeButton.addEventListener('click', function () {
                const fullName = fullNameInput.value.trim();
                const phone = phoneInput.value.trim();
                const role = roleSelect.value.toLowerCase();

                if (fullName && phone) {
                    const nameWithoutAccents = fullName.normalize('NFD').replace(/[\u0300-\u036f]/g, "");
                    const yearOfBirth = phone.substring(0, 4); // Assuming the phone number starts with the year of birth, adjust as needed
                    const userCode = `${nameWithoutAccents}${yearOfBirth}${role}`;

                    userCodeInput.value = userCode;
                    userCodeInput.disabled = true; // Disable the user code input field after generation


                }
            });

            fullNameInput.addEventListener('input', updateUserCode);
            phoneInput.addEventListener('input', updateUserCode);
            roleSelect.addEventListener('change', updateUserCode);

            function updateUserCode() {
                const fullName = fullNameInput.value.trim();
                const phone = phoneInput.value.trim();
                const role = roleSelect.value.toLowerCase();

                if (fullName && phone) {
                    const nameWithoutAccents = fullName.normalize('NFD').replace(/[\u0300-\u036f]/g, "");
                    const yearOfBirth = phone.substring(0, 4); // Adjust this logic based on how the phone number relates to the user’s birth year
                    const userCode = `${nameWithoutAccents}${yearOfBirth}${role}`;

                    userCodeInput.value = userCode;
                }
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            function removeAccents(str) {
                const accents = [
                    { base: 'a', letters: /á|à|ả|ã|ạ|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ|á|à|ả|ã|ạ|ă|ạ́|ạ̀/gi },
                    { base: 'e', letters: /é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ|é|è|ẻ|ẽ|ẹ|ê/gi },
                    { base: 'i', letters: /í|ì|ỉ|ĩ|ị|í|ì|ỉ|ĩ|ị/gi },
                    { base: 'o', letters: /ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ|ó|ò|ỏ|õ|ọ|ô|ơ|ợ/gi },
                    { base: 'u', letters: /ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự|ú|ù|ủ|ũ|ụ|ư̂/gi },
                    { base: 'y', letters: /ý|ỳ|ỷ|ỹ|ỵ|ý|ỳ|ỷ|ỹ|ỵ/gi },
                    { base: 'd', letters: /đ/gi }
                ];

                accents.forEach(function (accent) {
                    str = str.replace(accent.letters, accent.base);
                });
                return str;
            }

            function generatePassword() {
                const fullName = document.getElementById('fullName').value;
                const birthday = document.getElementById('birthday').value;

                const sanitizedFullName = removeAccents(fullName).toLowerCase();

                const birthYear = birthday.split('-')[0];

                const password = sanitizedFullName + birthYear;

                document.getElementById('password').value = password;
            }

            document.getElementById('generatePasswordButton').addEventListener('click', generatePassword);
        });

    </script>
</body>

</html>